In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re         
import nltk
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer 
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [37]:
df=pd.read_csv('spam.csv',encoding=('ISO-8859-1'))

In [38]:
df.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [39]:
df=df.drop('Unnamed: 2',axis=1)
df=df.drop('Unnamed: 3',axis=1)
df=df.drop('Unnamed: 4',axis=1)

In [40]:
df.head(5)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [41]:
df=df.rename(columns={'v1':'is_spam','v2':'message'})
df.head()

  is_spam                                            message
0     ham  Go until jurong point, crazy.. Available only ...
1     ham                      Ok lar... Joking wif u oni...
2    spam  Free entry in 2 a wkly comp to win FA Cup fina...
3     ham  U dun say so early hor... U c already then say...
4     ham  Nah I don't think he goes to usf, he lives aro...

In [42]:
lemmatizer=WordNetLemmatizer()

In [43]:
corpus=[]

In [44]:
for i in range(0,len(df)):
    review=re.sub('[^a-zA-Z]','',df['message'][i])
    review=review.lower()
    review=review.split()
    review=[lemmatizer.lemmatize(word) for word in review if not word in stopwords.words('english')]
    review=' '.join(review)
    corpus.append(review)

In [45]:
df.head(5)

  is_spam                                            message
0     ham  Go until jurong point, crazy.. Available only ...
1     ham                      Ok lar... Joking wif u oni...
2    spam  Free entry in 2 a wkly comp to win FA Cup fina...
3     ham  U dun say so early hor... U c already then say...
4     ham  Nah I don't think he goes to usf, he lives aro...

In [46]:
cv=CountVectorizer(max_features=1000)

In [47]:
X=cv.fit_transform(corpus).toarray()

In [48]:
y=pd.get_dummies(df['is_spam'])            
y=y.iloc[:,1].values

In [49]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [51]:
spam_detect_model=MultinomialNB().fit(X_train,y_train)

In [52]:
y_pred=spam_detect_model.predict(X_test)

In [54]:
print(accuracy_score(y_test,y_pred))

0.8556053811659193